.content {
    width: 80%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    z-index: 50;
    overflow: hidden;
    margin-top: 123px;
    padding-top: 10px;
    min-height: 550px;
}

.content-home {
    padding-top: 10px;
    padding-bottom:20px;
    width: 80%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-bottom: 20px;
    margin-top:5%;
    z-index: 50;
    overflow:hidden;
}

.content-inner{
    margin-left:10px;
    margin-right:10px;
}

.cover video {
    background-size:cover;
    width:100%;
    overflow:hidden;
    margin: auto;
    padding: 0;
    color: white;
    text-align: center;
    z-index: -100;
    position: absolute;
    top: 0;
}

.page-center-standard {
    width: 95%;
    margin: auto;
}

.page-title {
	font-family: Roboto;
	font-size: 48px;
	font-weight: lighter;
	padding-bottom: 10px;
	opacity: 0.87;
}

.page-subtitle {
    font-family:Roboto;
    font-size: 28px;
    font-weight: lighter;
    padding-bottom: 10px;
    opacity:0.54;
}

.title-divider {
    border-bottom: 1px solid;
    width:90%;
    margin:auto;
    margin-bottom:10px;
}

.page-column{
    width:48%;
    margin:auto;
    padding:0;
    display:block;
    overflow:hidden;
    float:left;
    min-height:100%;
}

.proceed-button{
    float:right;
    margin-right:1%;
    margin-bottom:2%;
}

.spacer{
    margin:8px 8px;
}

p {
	font-family: Roboto;
	font-size: 14px;
}

.form-container{
    width:80%;
    margin:auto;
}

.input-box{
    display:inline;
    padding-top:18px;
    padding-bottom:18px;
    
}

.input-label {
	font-family: Roboto;
	font-size: 14px;
	display: inline;
	opacity: 0.54;
}

.input-field{
    width:100%;
    margin:auto 36px;
    text-align:left;
}

.validator {
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	color: red;
	width: 100%;
	display: block;
	padding: 10px 10%;
}

.validator ul{
    margin-top:8px;
}

.validator ul li{
    margin:2px 0;
    font-weight:normal;
    font-size:14px;
}

.input-field-label{
    width:20%;
    text-align:center;
    display:inline-block;
}

.input-field-input{
    width: 79%;
    display:inline-block;
}

.input-field-input input{
    width:100%;
}

.invalid{
    color:red;
}

.validaton-box{
    border:2px solid red;
    padding:12px;
    margin:0;
    width:60%;
    border-radius:2px;
}

.validaton-box-text {
    font-family:Roboto;
    font-weight: bold;
    font-size: 14px;
    color: red;
    width: 100%;
    display: block;
    padding: 10px 10%;
}

.gridview-container{
    overflow-y:scroll;
    height:500px;
    width:100%;
}

.tldSearchBox {
    width: 100%;
    margin: 0;
    padding: 4px 8px;
    font-family:Roboto;
    font-size: 18px;
}

.advertisement-container{
    margin:auto;
    padding:100px;
    display:block;
    align-items:center;
    text-align:center;
    margin-top:140px;
}

.advertisement-container h2 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 28px;
	margin: 2px;
}

.product-container {
    margin: 0px auto;
    width: 100%;
}

.product-page{
    margin:auto;
    width:100%;
}

.slideshow-container{
    height:auto;
    width:98%;
    margin:auto;
    overflow:visible;
}

.promo-item .head{
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item-1 .head {
    background-image: url("../Content/img/promo/product-promo-bg-cluster.jpg");
}

.item-2 .head{
    background-image: url("../Content/img/promo/product-promo-bg-cloudnx.jpg");
}

.item-3 .head{
    background-image:url("../Content/img/promo/product-promo-bg-ds.jpg");
}

.item-4 .head{
    background-image:url("../Content/img/promo/product-promo-bg-email.jpg")
}

.item-5 .head{
    background-image:url("../Content/img/promo/product-promo-bg-email-exchange.jpg")
}

.item-6 .head{
    background-image:url("../Content/img/promo/product-promo-bg-email-o365.jpg")
}

.promo-item {
    padding: 0;
    display:block;
    width: 300px;
    margin:10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:ease-out 0.1s;
    z-index:0;
    margin-bottom:80px;
}

.promo-item:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
    transition:ease-in 0.1s;
    z-index:100;
}

.promo-item .head{
    width:100%;
    margin:auto;
    overflow:hidden;
    height:100px;
}

.promo-item .head img{
    overflow:hidden;
    margin:auto;
    display:block;
}

.promo-item-desc{
    margin:auto;
    height:50px;
    overflow:hidden;
}

.promo-logo {
    margin: auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.promo-item p {
	font-family: Roboto;
	text-align: center;
	margin: 4px;
}

.promo-item-price {
	font-family: Roboto;
	font-size: 36px;
	font-weight: lighter;
	color: #0099FF;
	width: 100%;
}

.tld-info {
    margin: auto;
    margin-top: 5%;
    margin-bottom:5%;
    width: 75%;
    display: block;
    padding: 4px;
    border-radius:2px;
}

.tld-info p {
	font-family: Roboto;
	font-size: 20px;
	padding: 10px;
}

.check {
    font-family:Roboto;
    font-size: 20px;
    padding: 10px;
    opacity:0.84;
}

.player{
    width:100%;
}

textarea{
    resize:none;
    width:100%;
}

.choose{
    background-image:url("../Content/img/feat-strip-bg-infobox.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    align-self:center;
    z-index:200;
    margin-left:10px;
}